/* .appvide{
    display: flex;
    align-items: center;
  }
  
  .appcanvas{
    position: absolute;
    top: 100px
  }
  
  .myapp{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  } */



  .div {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
    justify-content: center;
}

.canvas {
    position: absolute;
    top: 0.3%;
    left: 28%;

    
  }
.container{
    margin-top: 20px;
}
